<h3>Graph</h3>
<div id="chart-1" style="height: 300px">
<div id="chart-2" style="height: 300px; width: 100%; text-align: center; color: #999; line-height: 300px; font-size: 14px; font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, Arial, Helvetica, sans-serif;">Loading...</div>
<script type="text/javascript">
  new Chartkick.AreaChart("chart-2", {"2017-01-01":11,"2017-01-02":6}, {});
</script>
</div>
