<!DOCTYPE html>
<html>
  <head>
    <title>RHS 0.1</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Ruby Fatword Server 0.1" />
    <script src="assets/chartkick.js"></script>
  </head>

  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
