<!DOCTYPE html>
<html>
  <head>
    <title>RFS 0.1</title>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Ruby Fatword Server 0.1" />
  </head>

  <body>
    <%= assets(:js) %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
